

#header{
    width:$width;
    height: 68px;
    @extend %box2;
    .tclLogo{
        width: 100px;
        height: 60px;
        background: url(https://dss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2543714682,3830229523&fm=26&gp=0.jpg) no-repeat;
        background-size: 100px 60px;
        position: relative;
        top: 0;
        left: 40px;

        h2{
            position: absolute;
            left: -99999px;
        }
    }
   
    .headerNav{
        width:1040px;
        height:$width;
        float: right;
        @extend %box2;
        padding-right:50px;
        font-size: 14px;

        ul{
            @extend %box2;
            a{
                color: #111;
               } 
         
        }
        ul:first-child{
            width:  420px;
            height: $width;
            @extend %box2;
               a:hover {
                color:#f00;
               }
               a:hover #hiddenNav{
                   display: block;
               }
           }
        ul:last-child{
            width:  500px;
            height: $width;        
            @extend %box2;
           }
            form{
        width: 260px;
        height: 30px;
        border:1px solid gray;
        }

        input{
            width: 200px;
            height: 16px;
            margin: 5px 5px 0 10px;
            border: 0;
            outline: none;

        }
    }
}