@charset "utf-8";
@import "compass/reset";//引用重置样式

//设置变量
$width:100%;
$midle-width:1186px;
$bg-color:#f2f2f2;
a{
    text-decoration: none;
}

%box{
    width: $midle-width;
    height: 500px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@import 'top';

@import 'header';

@import 'banner';
/*****************************主体部分样式***************************/
@import 'main';

/*****************************页尾部分样式***************************/
@import 'footer';

