* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

input {
    border: 0;
}

/*****************************顶部样式***************************/

#top {
width: 100%;
height: 43px;
background: #666666;

}
#top .nav, #top .nav ul{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
/**********************导航样式**********************/
#top .nav {
width: 1190px;
height: 100%;
margin: 0 auto;
font-size: 12px;
/**********导航左右两边**************/
}

#top .nav ul a {
color: #b2b2b2;
}

#top .nav ul a:hover {
color: white;
}

#top .nav ul:first-child {
width: 430px;
height: 100%;
}

#top .nav ul:last-child {
width: 242px;
height: 100%;
}

/*****************************头部样式***************************/

#header {
width: 100%;
height: 68px;
}

#header, #header .headerNav, #header .headerNav ul, #header .headerNav ul:first-child, #header .headerNav ul:last-child{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

#header .tclLogo {
width: 100px;
height: 60px;
background: url(https://dss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2543714682,3830229523&fm=26&gp=0.jpg) no-repeat;
background-size: 100px 60px;
position: relative;
top: 0;
left: 40px;
}

#header .tclLogo h2 {
position: absolute;
left: -99999px;
}

#header .headerNav {
width: 1040px;
height: 100%;
float: right;
padding-right: 50px;
font-size: 14px;
}

#header .headerNav ul a {
color: #111;
}

#header .headerNav ul:first-child {
width: 420px;
height: 100%;
}

#header .headerNav ul:first-child a:hover {
color: #f00;
}

#header .headerNav ul:first-child a:hover #hiddenNav {
display: block;
}

#header .headerNav ul:last-child {
width: 500px;
height: 100%;
}

#header .headerNav form {
width: 260px;
height: 30px;
border: 1px solid gray;
}

#header .headerNav input {
width: 200px;
height: 16px;
margin: 5px 5px 0 10px;
border: 0;
outline: none;
}
/* ********************头部导航下方**************************** */
.detailsNav{
width: 100%;
height: 50px;
background: #ddd;
}
.detailsNav ul{
width: 380px;
height: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin-left:50px;
}
/* ********************物品详情区域**************************** */

.goodsinfo{
width: 100%;
height: 500px;
margin: 100px 0 0 100px;
}
.wrap {

    float: left;
    position: relative;
}

#spic {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    float: left;
    position: relative;
}

#spic img {
    width: 400px;
    height: 400px;
}

#sf {
    width: 50px;
    height: 50px;
    background: orange;
    opacity: 0.3;
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    cursor: move;
}

#bf {
    width: 400px;
    height: 500px;
    border: 1px solid #000;
    overflow: hidden;
    position: absolute;
    left: 410px;
    visibility: hidden;
    z-index: 100;
    /* add******** */
    float: left;
}

#bf img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 800px;
    height: 800px;
}

#ulist {
    position: absolute;
    left: 0px;
    top: 430px;
    width: 402px;
    height: 56px;
    overflow: hidden;
}

#ulist a {
    float: left;
    width: 10px;
    height: 54px;
    border: 1px solid #ccc;
    text-decoration: none;
    line-height: 56px;
    text-align: center;
    background: #fff;
}

#list {
    float: left;
    margin-left: 18px;
    width: 372px;
    position: relative;
}

.wrap ul {
    list-style: none;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
}

.wrap ul li {
    float: left;
    width: 56px;
    height: 56px;
    padding-right: 6px;
    cursor: pointer;
}

.wrap ul li img {
    width: 52px;
    height: 52px;
    border: 1px solid #ccc;
}

#right {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #333;
}

#left {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    color: #fff;
}
/* ***************** */
.goodsinfo-img {
    width: 200px;
    height: 200px;
    float: left;
}

.goodsinfo-img img {
    width: 200px;
    height: 200px;
}

.goodsinfo-word {
    overflow: hidden;
    float: left;
}

.p-name {
    width: 350px;
    height: 50px;
    margin-left: 50px;
    margin-top: 20px;
}

.p-name .loadtitle {
    font-family: "微软雅黑";
    color: #666666;
    font-weight: bold;
    font-size: 18px;
}

.p-price {
    margin-left: 50px;
    margin-top: 10px;
    width: 300px;
    height: 50px;
    background: rgba(183, 183, 183, 0.4);
    line-height: 50px;
}

.p-btn {
    margin-top: 20px;
}

.p-btn input {
    display: inline-block;
    width: 50px;
    height: 46px;
    font-size: 20px;
    font-family: "微软雅黑";
    color: black;
    margin-left: 50px;
    border: 1px solid gray;
    float: left;
}

.p-btn a {
    display: block;
    width: 100px;
    height: 50px;
    background-color: red;
    font-size: 16px;
    font-family: "微软雅黑";
    color: white;
    line-height: 50px;
    text-align: center;
    float: left;
    margin-left: 10px;
}


/* *****************页尾样式*********************** */

footer {
width: 100%;
background: #f0f0f0;
margin-top: 40px;
}

footer,footer .footerMid ul, footer .footerBott {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

footer .footerMid, footer .footerBott ul, footer .footerBott .footBottom {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
footer .footerMid {
width: 1190px;
height: 230px;
padding: 20px 0;
}

footer .footerMid ul {
height: 200px;
}

footer .footerMid ul li {
margin-top: 16px;
font-size: 14px;
}

footer .footerMid ul a {
color: gray;
}

footer .footerMid ul li:hover a {
color: red;
text-decoration: underline;
}

footer .footerBott {
width: 1190px;
padding-top: 20px;
align-items: flex-start;
}

footer .footerBott a {
font-size: 12px;
color: gray;
}

footer .footerBott ul a {
font-size: 14px;
}

footer .footerBott .footBottom {
width: 100%;
margin: 20px 0;
color: gray;
font-size: 12px;
}

footer .footerBott .footBottom a {
font-size: 12px;
}

footer .footerBott a:hover {
text-decoration: underline;
}

footer .footerBott .last {
position: relative;
left: 428px;
}